<html>

<script type="text/javascript" async="" src="/static/slide/ga.js.download"></script><script>
    var notesEnabled =  false ;
</script>
<script src="./static/slide/slides.js.download"></script>

<body style="display: none" class="loaded">
<section class="slides layout-widescreen">
<div class="">

  <div class="jumbotron text-center" >
      <a href="/" class="lang-logo">
          <img src="/static/lang-logo.png">
      </a>

    <h1 style="margin-top: 0">Getting Started with Go on Golang World</h1>
    <div class="col-md-6" style="margin-right: 100">
      <ul>
      <li><a type="button" class="btn btn-lg btn-default" href="/static/slide/advanced.html"><span class="glyphiconglyphicon-flash"></span> Getting Started with Go</a></li>
      <li><a type="button" class="btn btn-lg btn-default" href="/static/slide/index.html"><span class="glyphiconglyphicon-flash"></span> Getting Started with Go</a></li>
      <li><a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/go-getting-started"><span class="glyphiconglyphicon-download"></span> Source on GitHub</a></li>
      </ul>
      <ul>
        <li><a type="button" class="btn btn-lg btn-default" href="/static/slide/advanced.html"><span class="glyphiconglyphicon-flash"></span> Getting Started with Go</a></li>
        <li><a href="https://devcenter.heroku.com/">Heroku Dev Center</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-go">Getting Started with Go on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/go-support">Heroku Go Support</a></li>
      </ul>
    </div>
  </div>
</div>
</section>
<link rel="stylesheet" type="text/css" href="/static/slide/css"><link rel="stylesheet" type="text/css" href="/static/slide/styles.css">

</body>
</html>
